{% extends "header.html" %}

{% block title %} Usuario Postulante {% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if 'access_denied' in message.tags %}
    <p class="error">{{ message }}</p>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

<h1 class="text-center">ESTA VISTA ES SOLO VALIDA PARA UN USUARIO POSTULANTE</h1>
<div class="panel">
    <h2 class="text-center">Panel de Usuario Postulante</h2>
    <ul class="task-list text-center">
        <a class="list-group-item" href="/">Ofertas de empleos</a>
        <a class="list-group-item" href="/">Visualizar postulaciones</a>
        <a class="list-group-item" href="/">Modificar Curriculum</a>
    </ul>
</div>

{% endblock %}