{% extends "header.html" %}

{% block title %} Usuario Empresa {% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if 'access_denied' in message.tags %}
    <p class="error">{{ message }}</p>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

<h1 class="text-center"> ESTA VISTA ES SOLO VALIDA PARA UN USUARIO EMPRESA </h1>
<div class="panel">
    <h2 class="text-center">Panel de Usuario Empresa</h2>
    <ul class="task-list text-center">
        <a class="list-group-item" href="/">Crear oferta laboral</a>
        <a class="list-group-item" href="/">Modificar oferta laboral</a>
        <a class="list-group-item" href="/">Eliminar oferta laboral</a>
        <a class="list-group-item" href="/">Cambiar estatus de Oferta laboral</a>
    </ul>
</div>
{% endblock %}