{% extends "index.html" %}

{% block title %} Control de Empresas Registradas {% endblock %}

{% block content %}

<div class="container">
    <div class="row">

        <!--Parte de registro-->
        <div class="col-md-4">
            <div class="form-label m-lg-auto p-md-4 table-responsive">

                <form method="POST" action="{% url 'Registro_empresa' %}">
                    {% csrf_token %}

                    <h4 class="m-4 text-center modal-title">Registro de Nueva Empresa</h4>
                    <div class="mx-3 p-1">
                        <label for="Nombre_empresa" class="form-label">Nombre de la Empresa</label>
                        <input type="text" class="form-control"  name="Nombre_empresa" required>
                    </div>
                    <div class="mx-3 p-1">
                        <label for="Sector_empresa" class="form-label">Sector de la Empresa</label>
                        <input type="text" class="form-control" name="Sector_empresa" required>
                    </div>
                    <div class="d-block text-center mx-auto">
                        <button type="submit"
                            class="btn btn-outline-primary my-4">Registrar
                            Empresa</button>
                        </button>
                    </div>
                </form>
            </div>
        </div>



        <!--Parte de listado de Ya registradas-->
        <div class="my-4 col-md-8">
            <h4 class="text-center my-4">Listado de Empresas Registradas</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Empresas</th>
                            <th>Sector</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emp in Empresas%}
                        <tr>
                            <td>{{emp.id}}</td>
                            <td>{{emp.nombre}}</td>
                            <td>{{emp.sector}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>

{% endblock %}