{% extends "header.html" %}

{% block title %}Control de Empresas Registradas{% endblock %}

{% block content %}

<div class="container">
    <div class="row">

        <!-- Parte de registro -->

        <div class="col-md-4">
            <div class="registro">
                <div class="form-label m-lg-auto p-md-4 table-responsive">
                    <form method="POST" action="#">
                        {% csrf_token %}

                        <h4 class="m-4 text-center modal-title">Registro de Nueva Empresa</h4>
                        <div class="mx-3 p-1">
                            <label for="nombreEmpresa" class="form-label">Nombre de la Empresa</label>
                            <input type="text" class="form-control" id="nombreEmpresa" name="Nombre_empresa" required>
                        </div>
                        <div class="mx-3 p-1">
                            <label for="sectorEmpresa" class="form-label">Sector de la Empresa</label>
                            <input type="text" class="form-control" id="sectorEmpresa" name="Sector_empresa" required>
                        </div>
                        <div class="d-block text-center mx-auto my-5">

                            <span>Suministre los datos de usuario para la empresa provisional</span>
                            <span><i>no se registrará la empresa sin usuario provisional</i></span>

                            <button type="button" class="btn btn-outline-primary my-4" onclick="validarEmpresa()">
                                Registro de U. Empresa
                            </button>

                        </div>

                </div>
            </div>

            <!-- Modal de registro -->
            <div class="modal fade" id="registroModal" tabindex="-1" role="dialog" aria-labelledby="registroModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="registroModalLabel">Registro de Nuevo Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="cedula" class="form-label">Cédula</label>
                                <input type="text" class="form-control" name="cedula" pattern="[0-9]*"
                                    inputmode="numeric" required>
                            </div>
                            <div class="form-group">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" name="nombre" required>
                            </div>
                            <div class="form-group">
                                <label for="apellido" class="form-label">Apellido</label>
                                <input type="text" class="form-control" name="apellido" required>
                            </div>
                            <div class="form-group">
                                <label for="sexo" class="form-label">Sexo</label>
                                <select name="sexo" class="form-select" required>
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <input type="text" class="form-control" name="telefono" pattern="[0-9]*"
                                    inputmode="numeric" required>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Registrar Usuario</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>

                    </div>
                </div>
            </div>
            </form>

            {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
            {% endif %}
        </div>

        <!-- Parte de listado de Ya registradas -->
        <div class="my-4 col-md-8">

            <h4 class="text-center my-4">Listado de Empresas Registradas</h4>
            {%if Empresas%}
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Empresas</th>
                            <th>Sector</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emp in Empresas %}
                        <tr>
                            <td>{{ emp.id }}</td>
                            <td>{{ emp.nombre }}</td>
                            <td>{{ emp.sector }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p class="text-center">No Hay empresas registradas en el sistema.</p>
            {% endif %}
        </div>

        <div class="container-fluid">
            <div class="row">

                <div class="col-12">
                    {% if mensaje_felicidades %}
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Empresa y Usuario registrados</h4>
                        <p>Su empresa ha sido registrada con éxito</p>
                        <hr>
                        <p>{{mensaje_felicidades}}</p>
                        <p class="mb-0">Datos Provisionales: Correo: {{ correo }}, contraseña: {{ contraseña }}</p>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>

    </div>
</div>


<script>
    function validarEmpresa() {
    var nombreEmpresa = document.getElementById("nombreEmpresa").value;
    var sectorEmpresa = document.getElementById("sectorEmpresa").value;

    if (nombreEmpresa === "" || sectorEmpresa === "") {
        alert("Por favor, complete los campos de Nombre de la Empresa y Sector de la Empresa antes de continuar.");
    } else {
        var registroModal = new bootstrap.Modal(document.getElementById("registroModal"));
        registroModal.show();
    }
}

</script>

{% endblock %}
