{% extends "header.html" %}

{% block title %}Registro de postulantes{% endblock %}

{% block content %}

<h3>Formulario de Registro (U. Postulante)</h3>
<form method="POST">
  {% csrf_token %}

  <label for="cedula">Cédula:</label>
  <input type="number" name="cedula" required>
  <br>

  <label for="nombre">Nombre:</label>
  <input type="text" name="nombre" required>
  <br>

  <label for="apellido">Apellido:</label>
  <input type="text" name="apellido" required>
  <br>

  <label for="correo">Correo:</label>
  <input type="email" name="correo" required>
  <br>

  <label for="contrasena">Contraseña:</label>
  <input type="password" name="contrasena" required>
  <br>

  <label for="sexo">Sexo:</label>
  <select name="sexo" required>
    <option value="M">Masculino</option>
    <option value="F">Femenino</option>
  </select>
  <br>

  <label for="telefono">Telefono:</label>
  <input type="number" name="telefono" required>
  <br>

  <label for="tipo_sangre">Tipo de sangre:</label>
  <select name="tipo_sangre" required>
    <option value="A+">A+</option>
    <option value="A-">A-</option>
    <option value="B+">B+</option>
    <option value="B-">B-</option>
    <option value="AB+">AB+</option>
    <option value="AB-">AB-</option>
    <option value="O+">O+</option>
    <option value="O-">O-</option>
  </select>
  <br>

  <label for="contacto">Persona de contacto:</label>
  <input type="number" name="contacto" required>
  <br>

  <label for="numero_emergencia">Número de emergencia:</label>
  <input type="number" name="numero_emergencia" required>
  <br>


  <input type="hidden" id="experiencia-counter" name="experiencia_counter" value="0">
  <div id="formularios-container">
    <!-- Aquí se agregarán los formularios dinámicos -->
  </div>
  <br>
  
  <button type="button" onclick="agregarFormulario()">Agregar Experiencia Laboral</button>
  <br>
  <br>
  <button type="submit">Guardar</button>

</form>

{% if error_message %}
<p class="text-danger">{{ error_message }}</p>
{% endif %}

<script>
  // Contador para asignar un índice único a cada formulario
  var formCounter = 1;

  // Función para agregar un nuevo formulario de experiencia laboral
  function agregarFormulario() {
    // Obtener el div contenedor de los formularios
    var contenedor = document.getElementById("formularios-container");

    // Crear un nuevo formulario
    var nuevoFormulario = document.createElement("div");
    nuevoFormulario.className = "experiencia-form";

    // Generar los nombres únicos para los campos del formulario
    var prefix = "experiencia-" + formCounter;
    var fechaInicioName = prefix + "-fecha_inicio";
    var fechaFinalizacionName = prefix + "-fecha_finalizacion";
    var cargoName = prefix + "-cargo";
    var nombreName = prefix + "-nombre";

    // Agregar el contenido HTML del formulario
    nuevoFormulario.innerHTML = `
      <h4>Experiencia Laboral</h4>
      <label for="${fechaInicioName}">Fecha de Inicio:</label>
      <input type="date" name="${fechaInicioName}" required>
      <br>

      <label for="${fechaFinalizacionName}">Fecha de Finalización:</label>
      <input type="date" name="${fechaFinalizacionName}" required>
      <br>

      <label for="${cargoName}">Cargo:</label>
      <input type="text" name="${cargoName}" required>
      <br>

      <label for="${nombreName}">Nombre de la empresa:</label>
      <input type="text" name="${nombreName}" required>
      <br>
    `;

    // Agregar el nuevo formulario al contenedor
    contenedor.appendChild(nuevoFormulario);

    // Incrementar el contador para el próximo formulario
    formCounter++;
    document.getElementById("experiencia-counter").value = formCounter;

  }
</script>

{% endblock %}
